body, html {
  font-family: Arial, sans-serif;
  background-color: #007dc7;
  color: white;
  height: 100%;
  overflow: hidden;
}

.image-button {
  background-size: cover;
  width: 100px;  /* adjust as needed */
  height: 100px; /* adjust as needed */
  border: 5px solid white;
  border-radius: 10px; 
  color: black; /* adjust as needed */
  text-align: center;
  padding: 10px;
  
}

.button-road {
  background-image: url('/images/road.jpg');
}

.button-drive {
  background-image: url('/images/drive.jpg');
}

.button-pavement {
  background-image: url('/images/pavement.jpg');
}

.button-other {
  background-image: url('/images/other.jpg');
}

.button-notparked {
  background-image: url('/images/notparked.jpg');
}

.button-carpark {
  background-image: url('/images/carpark.jpg');
}

.buttonrow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 400px;
  margin: auto;
  padding: 10px 10px 0px 10px;
}

.lablerow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 400px;
  margin: auto;
  padding: 0px 5px 0px 5px;
}

.lablerow p{
  margin-top: 3px;
  margin-bottom: 6px;
}

.mainbox{
  min-height: 500;
}


#nplate{
  background-color: yellow;
  color: black;
  font-weight: bold;
  width: 90%;
  height: 60px;
  text-align: center;
  font-size: 40px;
  border-radius: 10px;
  border-width: 5px;
}

.center {
  display: flex;
  justify-content: center;
}

.inst {
  text-align: center;
  padding: 0px;
  margin: 1px;
}

.inst p {
  padding: 0px;
  margin: 3px;
}

h1 {
  margin: 10px 10px 10px 0px;
  font-size: 30px;
}

a {
  color: white;
}


.overflowbox {
  position: fixed;
  bottom: 1px;
  left: 0px;
  width: 100%;
}


@media screen and (max-height: 550px) {
  .overflowbox {
    position: absolute;
    top: 550px;
  }
  body, html {
    overflow: scroll;
  }
}


.menu {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: #070ca6;
}

.menu p {
  display: inline;
  margin-right: 50px; /* adjust as needed */
  font-size: 30px;
  padding-left: 10px;
  text-align: center;
}

.menu p a {
  color: white; /* adjust as needed */
  text-decoration: none;
}

.invalidplate {
  position: fixed;
  display: none;
  top: 20px;
  width: calc(100% - 36px);
  left: 5px%;
  background-color: white;
  color: black;
  padding: 8px;
  border: solid;
  border-color: red;
  border-radius: 10px;
}

.firsttime {
  position: fixed;
  display: none;
  top: 20px;
  width: calc(100% - 36px);
  left: 5px%;
  background-color: #007dc7;
  color: white;
  padding: 8px;
  border: solid;
  border-color: white;
  border-radius: 10px;
  z-index: 2000;
}


.mapbox {
  /* position: fixed; */
  bottom: 50px;
  left: 0px;
  width: 100%;
}

.infoimages {
  min-height: 210px;
}

.infoimages img {
  float: right;
  height: 200px;
  width:200px; 
  width: auto;
  padding: 10px;
  border-radius: 10%;
}

.infoimages .text {
  padding-top: 10px;
}


.success {
  position: fixed;
  display: none;
  top: 135px;
  right: calc(5% + 10px);
  z-index: 1000;
}

.loading {
  position: fixed;
  display: none;
  top: 130px;
  right: calc(5% + 0px);
  z-index: 1000;
}

.nointernet {
  position: fixed;
  display: none;
  top: 140px;
  right: calc(5% + 10px);
  z-index: 1000;
}

.content {
  height: calc(100% - 60px);
  padding: 3px;
  overflow:auto
}

/* Stars */
.progress-bar{
  background-color: yellow;
}
